<!DOCTYPE html>
<html>
  <head>
    <title>Page Visits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, <%= my_name %></h1>
    <em>we'll fill this in a minute..</em>
  </body>
</html>
