<!DOCTYPE html>
<html>
  <head>
    <title>Page Visits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, <%= my_name %></h1>
    <% for(var v in visits){ %>
      <p><%- visits[v] %></p>
    <% } %>
  </body>
</html>
