<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  	<p>
  		<a href="/">Go Home</a> | <a href="/users">See Other Users (a lie)</a> | <a href="/world">See The World</a>
	</p>
